#redirección permanente de dominio www a sin www

RewriteEngine on

Options +FollowSymLinks

RewriteCond %{HTTP_HOST} ^www\.posltda\.com\.co$ [NC]

RewriteRule ^(.*)$ http://posltda.com.co/$1 [R=301,L]

#RedirectMatch 301 ^(.*)$ https://www.posltda.com.co/public
