#redirección permanente de dominio www a sin www

RewriteEngine on

Options +FollowSymLinks

RewriteCond %{HTTP_HOST} ^www\.websirc\.com\.co$ [NC]

RewriteRule ^(.*)$ http://websirc.com/$1 [R=301,L]

#RedirectMatch 301 ^(.*)$ https://www.websirc.com/public
