<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div style="background-color:#fff;margin:0;padding:0">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#fff"
            width="100%">
            <tbody>
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                            width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                                            class="m_-7157537355892380753row-content m_-7157537355892380753stack"
                                            role="presentation" style="background-color:#fffff;color:#000;width:600px"
                                            width="600">
                                            <tbody>
                                                <tr>
                                                    <td class="m_-7157537355892380753column"
                                                        style="font-weight:400;text-align:left;vertical-align:top;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0"
                                                        width="100%">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            class="m_-7157537355892380753image_block"
                                                            role="presentation" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;padding-right:0;padding-left:0">
                                                                        <div align="center" style="line-height:10px">
                                                                            <img class="m_-7157537355892380753big CToWUd a6T"
                                                                                src="https://ci5.googleusercontent.com/proxy/ltxUp21zCBiR8q9JQNGdtMg7vyJz1S7kcpCAs4FPFNiIpwABhbj_NPNNaRMEdxchMj82uO_nNYxByYeFEH32XdxTxdtLGhOnBayjuRcJiPISniWouB1pbj-D-6wQcsH5v30v2p5ytYh8Mi_r2OlvVcDRoWUilv8TefxR6f0VPQ=s0-d-e1-ft#https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/BeeProAgency/831339_815335/LOGO%20SERINPO.PNG"
                                                                                style="display:block;height:auto;border:0;width:600px;max-width:100%"
                                                                                width="600" tabindex="0">
                                                                            <div class="a6S" dir="ltr"
                                                                                style="opacity: 0.01; left: 628px; top: 129px;">
                                                                                <div id=":r0"
                                                                                    class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                    role="button" tabindex="0"
                                                                                    aria-label="Descargar el archivo adjunto "
                                                                                    data-tooltip-class="a1V"
                                                                                    data-tooltip="Descargar">
                                                                                    <div class="akn">
                                                                                        <div class="aSK J-J5-Ji aYr">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><span class="im">
                                                            <table border="0" cellpadding="15" cellspacing="0"
                                                                role="presentation" style="word-break:break-word"
                                                                width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div
                                                                                style="color:#101112;font-size:16px;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif;font-weight:400;line-height:120%;text-align:left;direction:ltr;letter-spacing:0">
                                                                                <p style="margin:0;margin-bottom:16px">
                                                                                    Bienvenido a la plataforma
                                                                                    <strong>WEBSIRC,&nbsp;</strong>a
                                                                                    continuación encontraras tus datos
                                                                                    de acceso,</p>
                                                                                <p style="margin:0;margin-bottom:16px">
                                                                                    Usuario:&nbsp;</p>
                                                                                <p style="margin:0;margin-bottom:16px">
                                                                                    Contraseña:</p>
                                                                                <p style="margin:0">&nbsp;</p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="0" cellpadding="15" cellspacing="0"
                                                                role="presentation" width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div align="center">
                                                                                <div
                                                                                    style="text-decoration:none;display:inline-block;color:#fff;background-color:#0070c0;border-radius:4px;width:auto;border-top:1px solid #0070c0;font-weight:400;border-right:1px solid #0070c0;border-bottom:1px solid #0070c0;border-left:1px solid #0070c0;padding-top:5px;padding-bottom:5px;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif;text-align:center;word-break:keep-all">
                                                                                    <span
                                                                                        style="padding-left:20px;padding-right:20px;font-size:16px;display:inline-block;letter-spacing:normal"><span
                                                                                            style="font-size:16px;line-height:2;word-break:break-word">Ir
                                                                                            a WEBSIRC</span></span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <div class="adm">
                                <div id="q_21" class="ajR h4">
                                    <div class="ajT"></div>
                                </div>
                            </div>
                            <div class="h5">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                    class="m_-7157537355892380753row-content m_-7157537355892380753stack"
                                                    role="presentation"
                                                    style="background-color:#fffff;color:#000;width:600px" width="600">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_-7157537355892380753column"
                                                                style="font-weight:400;text-align:left;vertical-align:top;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0"
                                                                width="100%">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    role="presentation" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td
                                                                                style="vertical-align:middle;color:#9d9d9d;font-family:inherit;font-size:15px;padding-bottom:5px;padding-top:5px;text-align:center">
                                                                                <table cellpadding="0" cellspacing="0"
                                                                                    role="presentation" width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="vertical-align:middle;text-align:center">
                                                                                                <table cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    class="m_-7157537355892380753icons-inner"
                                                                                                    role="presentation"
                                                                                                    style="display:inline-block;padding-left:0;padding-right:0">
                                                                                                    
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>